|Script|Action|Expected Result|Actual Result| Mark|
|:---|:---|:---|:---|:---|
|1. Start new game|Press the button "Game" in main menu|Opening window with the game field, on which user can see the bricks| Game field appears||
|2. Lose the game|Brick reaches the ceiling|Appearence of a window with possible text "Game over" and opportunity to start game again|When you press keys "ponter" brick can be rotated, when a brick reaches the ceiling, a dialog box appeared with a suggestion to play again ||
|3. Playing the game|Rotate bricks for getting full row | delete the filled row, score points and shift the playing field down |since the application supports WASD control, the gameplay of scoring is very simple| |
|4. Pause the game|Press the button P or Pause on the Window |Stop gameplay untill the resume button isn't pressed | Pause label appears and the gameplay stops | |
|5. Watch the scoreboard|in the displayed window press the score button|Score window appears| There is window with the highest score ||
